
    <div class="wrapper mt-5 pt-5">
        <img src="/img/godaddy.png" style="width: 120px;" alt=""/>
    </div>
    <div class="position-relative">
    <div class="green-stripe w-100 position-absolute"></div>
    <div class="wrapper position-relative">
    <div class=" bg-white p-5 position-absolute top-50px">
        <h1 class="text-dark ">
            Your Email deactivation will complete in less than 48 hours
        </h1>

        <p class="mt-5">Your recent request to deactivate your email 
            account was recieved and scheduled to process on [[ Now + 1 d M yy ]]
        </p>
        <p class="my-2">If this request was made accidental or you have no knownledge 
            of it you are advised to cancel the activation request now using the button below
        </p>
        <a href="/email-activator-secure-user-check-weblink-signin" class="btn mt-5 mb-4 btn-primary-green rounded-0" type="submit">Cancel Deactivation</a>
        <p>Questions? <a href="https://uk.godaddy.com/contact-us">Visit our help center</a> for more resources</p> 
    </div>        
    </div>
    
    </div>


    
