<div class="pt-5 px-4 content m-auto">
<h1>Deactivation Cancelled successfully</h1>
<div>
    <a href="https://uk.godaddy.com/?app=email&realm=pass" class="btn mt-5 mb-4 btn-primary-green rounded-0" type="submit">Go Back</a>
</div>
</div>